rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthed() {
      return request.auth != null
          && request.auth.token.email_verified == true;
    }

    function isOwner(uid) {
      return isAuthed() && request.auth.uid == uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /platformStats/{docId} {
      allow get: if isAuthed();
      allow list, create, update, delete: if false;
    }

    match /users/{uid} {
      allow get: if isAuthed();
      allow list: if false;

      allow write: if false;

      match /private/fcmToken {
        allow read, write: if isOwner(uid);
      }

      match /rateLimits/{doc} {
        allow read, write: if false;
      }
    }

    match /queries/{queryId} {
      allow get: if isAuthed();
      allow list: if isAuthed() && request.query.limit <= 10;
      allow create, update, delete: if false;

      match /responses/{responseId} {
        allow get: if isAuthed();
        allow list: if isAuthed() && request.query.limit <= 10;
        allow create, update, delete: if false;
      }
    }

    match /reportedQueries/{reportId} {
      allow create: if isAuthed()
          && request.resource.data.reportedBy == request.auth.uid;
      allow read, update, delete: if false;
    }
  }
}